{% extends "layout.njk" %}

{% block content %}
{% include "components/header.njk" %}
<main class="wrapper">
    <p>Bloggsida</p>
    <p>Här kan sees bloggar</p>
</main>
{% include "components/footer.njk" %}
{% endblock %}